__pycache__
docker-compose.yml
.vscode/settings.json
*.bk


docker-compose.dev.yml
telethon-downloader/bottorrent.session
telethon-downloader/bottorrent.session-journal
/.vs/telethon_downloader/FileContentIndex
/.vs/telethon_downloader/v17/DocumentLayout.json
/.vs/telethon_downloader/v17/DocumentLayout.backup.json
/.vs/telethon_downloader/v17/DocumentLayout.json
/.vs/telethon_downloader/v17/.wsuo
